/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/ui/styles/home.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.home_text_wisteria__C3oKs {
  color: #8e44ad;
}

.home_bg_wisteria__fgoBi {
  background-color: #8e44ad;
}

.home_fit_content__q_uBL {
  width: fit-content;
}
