/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/ui/styles/home.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.home_text_green__CYAAw {
  color: #16a085;
}

.home_bg_green__TKW9m {
  background-color: #16a085;
}

.home_fit_content__q_uBL {
  width: fit-content;
}
